* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html {
    font-size: 62.5%;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    font-size: 1.6em;
    color: #333;
}

footer {
    color: #333;
    font-size: 1.2rem;
}

#grafico-01 {
    background-color: brown;
    width: 250px;
    height: 250px;
    overflow: scroll; /* overflow: scroll; cria uma barra apenas dentro do elemento */
    border-radius: 50%;
   margin: 40px auto;
}

#grafico-01 img {
    width: 150%;
    max-width: 100%;
    height: auto;
}

#grafico-02 {
   margin: 40px auto;
    border-style: solid;
    border-width: 60px 0 60px 120px;
    border-color: transparent transparent transparent blue;
    width: 200px;
}

#imagem-vetorial {
    width: 200px;
    margin: 40px auto;
  
}

#canvas {
    width: 300px;
    height: 300px;
}

/* filtros */

#grafico-01 {
    filter: drop-shadow(8px 8px 10px #333);
    max-width: 100%;
    height: auto;
}

.filtro {
    filter: grayscale(100%); /* escala em cinza */
    filter: blur(5px); /* desfoque */
    filter: brightness(50%); /* brilho */
    filter: invert(100%); /* inverte cores */
    filter: opacity(50%) /* opacidade - 100%=normal */
    filter: saturate(200%) sepia(100%)
}

.filtro:hover {
    filter: grayscale(0%); /* ao passar o mouse */
}

article {
    width: 85%;
    float: left;
}

nav {
    width: 15%;
    height: auto;
    float: left;
    background-color: rgb(224, 231, 229);
}