
html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background-color: #f5f5f5;
    font-family: 'Open Sans', sans-serif;
}

.main-container {
    display: block;
    max-width: 100%;
    margin: 0 auto;
    overflow: hidden;
}

.container {
    display: block;
    float: right;
    padding-right: 20px;
    max-width: 100%;
    width: 100%;
}

.container-1 {
    display: block;
    float: left;
    padding: 20px;
    max-width: 1024px;
    width: 50%;
    margin-left: 250px;
 }

 .container-1 p {
    color: #254159;
}

header {
    background-color: #fff;
    display: block;
    float: left;
    padding: 20px;
    width: 100%;
    border-bottom: 1px solid #254159;
}

h1 {
    font-size: 2.4rem;
    color: #254159;
    margin-bottom: 20px;
}

h2 {
    font-size: 2rem;
    color: #254159;
    margin-bottom: 20px;
}

h3 {
    font-size: 1.8rem;
    color: #254159;
    margin-bottom: 20px;
}

h4 {
    font-size: 1.6rem;
    color: #254159;
    margin-bottom: 10px;
    padding-top: 10px;
}

 p {
    margin-bottom: 10px;
    line-height: 1.4;
    color: #333;
 }

 img {
     max-width: 100%;
     height: auto;
 }

 #tenho-interesse {
     background-color: #b8c8d6;
     width: 100%;
 }

 .tenho-interesse-1 {
    width: 100%;
    text-align: center !important;
    font-size: 12px;
 }

 #tenho-interesse form,
.cog-form__content {
    background-color: #fff !important;
    color: #385874 !important;
    text-align: center !important;
 }

 .cog-heading {
     color: #385874 !important;
 }

 .cog-page__navigation {
    display: block !important;
}

 #cog-0-label,
 #cog-1-label,
 #cog-2-label {
     color: #385874 !important;
     text-align: center !important;
 }

 ol {
     margin-left: 30px;
 }

 ol li {
     font-size: 1.4rem;
     color: #454545;
     color: #333;
 }

section {
    background-color: #fff;
    display: block;
    float: left;
    font-size: 1.5rem;
    width: 100%;
}

section article {
    display: block;
    float: left;
    width: 100%;
}

footer {
    background-color: #254159;
    display: block;
    float: left;
    padding: 20px 0 10px 0;
    width: 100%;
    text-align: center;
}

footer p {
    color: #ffffff;
    font-size: 11px;
    margin-right: 70px;
}

footer small {
    font-size: 80%;
    display: block;
}

.cognito {
    height: 400px !important;
    overflow: hidden !important;
}

#banner {
    background-image: url('../img/banner.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

.legenda-container {
    width: 30vw;
    float: right;
    margin: 5px;
    padding-right: 7%;
}

.legenda {
    background-color: rgba(255, 255, 255, .6);
    padding: 20px;
    border-radius: 50px;
    margin-bottom: 7rem;
    margin-top: 15px;
    box-shadow: 2px 2px 4px black;
}

.legenda h5,
.legenda h4 {
    color: #254159;
    line-height: 150%;
}

.button-cta {
    border-radius: 25px;
    display: block;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: orangered;
    color: #fff;
    font-size: 2rem;
    box-shadow: 2px 2px 4px black;
    padding: 10px;
    float: left;
    text-decoration: none;
}

.button-cta-2 {
    border-radius: 25px;
    display: block;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: orangered;
    color: #fff;
    font-size: 2rem;
    box-shadow: 2px 2px 4px black;
    padding: 10px;
    float: left;
    text-decoration: none;
    margin: 0 43%;
    width: 140px;
}

#saiba-mais {
    background-color: #eaeff3;
    padding: 40px 20px;
}

#saiba-mais p,
#saiba-mais img {
    width: 45%;
    display: block;
    float: left;
    padding: 5px;
    margin-right: 25px;
}

#perguntas-frequentes {
    background-color: #b8c8d6;
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
    width: 100%;
}

dl {
    margin: 20px 0;
}

dt {
    font-family: Open Sans;
    font-weight: 700;
    font-size: 1.6rem;
    color: #254159;
    margin-bottom: 5px;
}

dd {
    margin-left: 20px;
    margin-bottom: 20px;
    font-size: 1.4rem;
}

@media (max-width: 480px) {
    section nav,
    section article {
        width: 100%
    }

    .container {
        padding-left: 1%;
        padding-right: 1%;
    }

    .container-1 {
        margin: 25px!important;
        width: 80%;
    }

    .button-cta {
        margin-top: 10px;
        margin-left: 5px!important;
        font-size: 13px;
    }

    .button-cta-2 {
        margin: 0 43% 0 37%!important;
        font-size: 13px;
        width: 20%!important;
    }

    dl {
        margin-right: 10px;
    }

    #tenho-interesse1 {
        width: 90%;
        max-width: 100%;
    }

    #saiba-mais img {
        width: 90%;
    }

    #saiba-mais p {
        margin-top: 10px;
        font-size: 13px!important;
    }

    .legenda-container {
        margin: 0;
    }

    .legenda {
        padding: 13px;
        font-size: 11px!important;
        margin-bottom: 0;
    }

    .legenda h4 {
        font-size: 13px!important;
    }

    footer {
        background-color: #254159;
        display: block;
        float: left;
        padding: 20px;
        width: 100%;
        text-align: center;
    }
}

@media (max-width: 768px) {
    section nav,
    section article {
        width: 100%
    }

    .container {
        padding-left: 1%;
        padding-right: 1%;
    }

    .container-1 {
        margin: 60px;
        width: 80%;
    }

    .button-cta {
        margin-top: 10px;
        margin-left: 15px;
        font-size: 13px;
    }

    .button-cta-2 {
        margin: 0 43% 0 42%;
        font-size: 13px;
        width: 15%;
    }

    #tenho-interesse1 {
        width: 90%;
    }

    #saiba-mais img {
        width: 90%;
    }

    #saiba-mais p {
        margin-top: 10px;
        font-size: 15px;
    }

    .legenda-container {
        margin: 0;
    }

    .legenda {
        padding: 13px;
        font-size: 12px;
        margin-bottom: 0;
    }

    .legenda h4 {
        font-size: 15px;
    }

    footer {
        background-color: #254159;
        display: block;
        float: left;
        padding: 20px;
        width: 100%;
        text-align: center;
    }
}