* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html {
    font-size: 62.5%;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    font-size: 1.6em;
    color: #333;
}

div {
    margin: 40px auto;
}

#grafico-01 {
    background-color: brown;
    width: 200px;
    height: 200px;
    overflow: hidden; /* overflow: scroll; cria uma barra apenas dentro do elemento */
    border-radius: 20%;
}

#grafico-01 img {
    width: 100%;
    max-width: 100%;
    height: auto;
}

#grafico-02 {
    border-style: solid;
    border-width: 60px 0 60px 120px;
    border-color: transparent transparent transparent blue;
    width: 60px;
}

#imagem-vetorial {
    width: 200px;
}

#canvas {
    width: 300px;
    height: 300px;
}

/* filtros */

#grafico-01 {
    filter: drop-shadow(8px 8px 10px #333);
    max-width: 100%;
    height: auto;
}

.filtro {
    filter: grayscale(100%); /* escala em cinza */
    filter: blur(5px); /* desfoque */
    filter: brightness(50%); /* brilho */
    filter: invert(100%); /* inverte cores */
    filter: opacity(50%) /* opacidade - 100%=normal */
}

.filtro:hover {
    filter: grayscale(0%); /* ao passar o mouse */
}

header {
    padding: 10px;
    text-align: center;
    font-size: 12px;
    color: white;
    background-color: #333;
  }

article {
    width: 85%;
    float: left;
}

nav {
    width: 15%;
    height: auto;
    float: left;
    background-color: rgb(224, 231, 229);
}

footer {
    font-size: 1.2rem;
    background-color: #333;
    padding: 10px;
    text-align: center;
    color: white;
  }